*.psd filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*fgn filter=lfs diff=lfs merge=lfs -text
pg filter=lfs diff=lfs merge=lfs -text
*.pg filter=lfs diff=lfs merge=lfs -text
